// --- fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Oswald:wght@200;300;400;500;600&display=swap');
// --- mixins
// --- variables
$screen_xs_max: 575px;
$screen_sm_max: 767px;
$screen_md_max: 991px;
$screen_lg_max: 1199px;
$screen_sm: 576px;
$screen_md: 768px;
$screen_lg: 992px;
$screen_xl: 1200px;
// --- commons
* {
    box-sizing: border-box;
}

.body {
    font-family: 'Montserrat', sans-serif;
    color: #4c4d4f;
    font-size: 14px;
    line-height: 29px;
    font-weight: 400;
    a,
    a:hover {
        text-decoration: none;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .section_title {
        font-family: 'Oswald', sans-serif;
        font-size: 36px;
        line-height: 48px;
        font-weight: 300;
        color: #222;
        letter-spacing: .3em;
        text-transform: uppercase;
    }
    .container-fullwidth {
        max-width: 1620px;
    }
    .text-wide {
        letter-spacing: .3em;
    }
    @media (max-width: $screen_xs_max) {
        font-size: 12px;
        line-height: 20px;
        .section_title {
            font-size: 24px;
            line-height: 30px;
        }
    }
}

section {
    padding-top: 100px;
    // padding-bottom: 100px;
    overflow-x: hidden;
    @media (max-width: $screen_xs_max) {
        padding-top: 50px;
    }
}

// === / commons
// --- section_header
.section_header {
    .logo {
        display: inline-block;
        font-family: 'Oswald', sans-serif;
        font-weight: 200;
        letter-spacing: .1em;
        color: #222;
    }
    .menu {
        .nav_link {
            position: relative;
            display: inline-block;
            color: #222;
            font-weight: 400;
            font-size: 12px;
            line-height: 26px;
            letter-spacing: .3em;
        }
    }
    @media (min-width: $screen_lg) {
        .logo {
            font-size: 36px;
        }
        .menu {
            .nav_link {
                padding: 52px 2px 48px 8px;
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 0%;
                    margin-left: 50%;
                    height: 0px;
                    background: #222;
                    transition: .3s;
                }
                &:hover {
                    &::before {
                        margin-left: 0;
                        height: 3px;
                        width: 100%;
                    }
                }
            }
        }
        &.sticky {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 20;
            background: #fff;
            box-shadow: 0 6px 6px rgba(0, 0, 0, .1);
            .nav_link {
                padding: 22px 2px 22px 8px;
            }
        }
    }
    @media (max-width: $screen_md_max) {
        .logo {
            position: absolute;
            top: 50px;
            left: 30px;
            font-size: 24px;
        }
        .menu {
            position: absolute;
            margin-top: 50%;
            right: 0;
            z-index: 100;
            padding: 20px;
            text-align: right;
            li::after {
                content: "•";
                position: relative;
                top: 2px;
                font-size: 30px;
                margin-left: 5px;
            }
            .nav_link {
                font-size: 16px;
                line-height: 45px;
            }
        }
    }
}

// === / section_header
// --- section_coursel
.section_banner {
    padding: 0;
    .carousel-item {
        position: relative;
        max-height: 730px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .carousel-control-next-icon {
        background: url(../img/svg/next.svg) no-repeat 100% 0;
    }
    .carousel-control-prev-icon {
        background: url(../img/svg/prev.svg) no-repeat 0 0;
    }
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        position: relative;
        display: inline-block;
        width: 36px;
        height: 40px;
    }
    .carousel-content {
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #222;
        text-align: center;
    }
    .slide_subtitle {
        font-size: 24px;
        line-height: 29px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        color: #222;
        font-style: normal;
        letter-spacing: .5em;
    }
    .slide_title {
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        color: #222;
        font-style: normal;
        letter-spacing: .3em;
    }
    @media (min-width: $screen_xl) {
        .carousel-content {
            top: 140px;
        }
        .slide_title {
            font-size: 60px;
            line-height: 80px;
        }
    }
    // @media (min-width: $screen_md_max) {
    //     .banner_wrap {
    //         min-height: 100vh;
    //     }
    // }
    @media (max-width: $screen_lg_max) {
        .carousel-content {
            top: 15px;
        }
        .slide_title {
            font-size: 36px;
            line-height: 48px;
        }
    }
    @media (max-width: $screen_md_max) {
        .banner_wrap {
            background: url(../img/banner_mob.jpg) no-repeat 50% 100%;
            background-size: cover;
        }
    }
    @media (max-width: $screen_xs_max) {
        .banner_wrap {
            min-height: 93vh;
        }
    }
}

// === / section_coursel
// --- section_about
.section_about {
    .about_wrap {
        .image_wrap {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .section_title {
        letter-spacing: .1em;
    }
    .right_num {
        position: relative;
        &::before {
            content: '';
            border-left: 1px solid #e5e5e5;
            position: absolute;
            left: 0;
            top: 20%;
            bottom: 20%;
        }
    }
    @media (min-width: $screen_xl) {}
    @media (max-width: $screen_lg_max) {}
    @media (max-width: $screen_md_max) {}
}

// === / section_about
// --- section_services
.section_services {
    @media (min-width: $screen_sm) {
        .section_title {
            margin-bottom: 70px;
        }
        .serv_item__icon img {
            width: 60px;
            height: 84px;
        }
    }
    @media (max-width: $screen_xs_max) {
        .section_title {
            margin-bottom: 50px;
        }
        .serv_item__icon img {
            width: 50px;
            height: 60px;
        }
    }
}

// === / section_services
.section_achievements {
    .achievements_wrap {
        position: relative;
        background: url(../img/achievements.jpg) no-repeat 50% 50%;
        min-height: 570px;
        background-size: cover;
        color: #fff;
        text-align: center;
        .achiev_item {
            z-index: 10;
        }
        .section_title {
            color: #fff;
            letter-spacing: .1em;
        }
    }
    @media (min-width: $screen_sm) {
        .achiev_icon img {
            width: 64px;
        }
    }
    @media (max-width: $screen_xs_max) {
        padding-top: 0;
        .achievements_wrap {
            position: relative;
            background: url(../img/achievements.jpg) no-repeat 33% 44%;
            background-size: cover;
            // min-height: 600px;
            .achievements_inner {
                min-height: 600px;
            }
        }
        .achiev_icon img {
            width: 44px;
        }
    }
}

// === / section_achievements
// --- section_quotes
.section_quotes {
    .quotes_wrap {
        position: relative;
        background: url(../img/quote.jpg) no-repeat 50% 0;
        background-size: cover;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #0000008c;
            z-index: 5;
        }
    }
    #carouselExampleControls2 {
        position: relative;
        z-index: 10;
    }
    .carousel-item {
        color: #fff;
        .quote_symbol {
            font-family: 'Oswald', sans-serif;
        }
        .quote_autor {
            font-family: 'Oswald', sans-serif;
            font-weight: 500;
            letter-spacing: .3em;
        }
    }
    .carousel-control-next-icon {
        background: url(../img/svg/next_white.svg) no-repeat 100% 0;
    }
    .carousel-control-prev-icon {
        background: url(../img/svg/prev_white.svg) no-repeat 0 0;
    }
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        position: relative;
        display: inline-block;
        width: 36px;
        height: 40px;
    }
    @media (min-width: $screen_sm) {
        .carousel_wrap {
            padding-top: 150px;
            min-height: 610px;
        }
        .carousel-item {
            font-size: 14px;
        }
        .quote_text {
            font-size: 26px;
            line-height: 42px;
        }
        .quote_autor {
            font-size: 24px;
            line-height: 32px;
        }
        .quote_symbol {
            font-size: 200px;
            line-height: 160px;
        }
    }
    @media (min-width: $screen_sm) and (max-width: $screen_md_max) {
        padding-top: 50px;
    }
    @media (max-width: $screen_xs_max) {
        padding-top: 0;
        .quotes_wrap {
            min-height: 340px;
        }
        .carousel-item {
            font-size: 11px;
        }
        .quote_autor {
            font-size: 14px;
            line-height: 20px;
        }
        .quote_symbol {
            font-size: 88px;
            line-height: 77px;
        }
    }
}

// === / section_quotes
// --- section_feedback
.section_feedback {
    textarea,
    input {
        display: block;
        height: 50px;
        border: 0 solid #edeef0;
        border-bottom: 1px solid #edeef0;
        color: #222;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        line-height: 29px;
        padding: 4.5px 0;
        outline: none;
        margin-bottom: 43px;
        letter-spacing: .3em;
        // text-transform: uppercase;
        transition: .5s;
        &:focus {
            border-color: #512da8;
        }
    }
    textarea {
        overflow-wrap: break-word;
        height: 99px;
        resize: none;
    }
    input[type=button] {
        display: inline-block;
        background: #fff;
        text-transform: uppercase;
        color: #222;
        border: 1px solid #222;
        line-height: 29px;
        font-weight: 300;
        letter-spacing: .3em;
        padding-top: 7px;
        padding-bottom: 8px;
        padding-left: 30px;
        padding-right: 30px;
        transition: .3s;
        outline: none;
        &:hover {
            background: #000;
            color: #fff;
        }
    }
    @media (min-width: $screen_sm) {
        margin-bottom: 100px;
        textarea,
        input {
            font-size: 14px;
        }
    }
    @media (max-width: $screen_xs_max) {
        margin-bottom: 50px;
        textarea,
        input {
            font-size: 10px;
        }
    }
}

// === / section_feedback
// --- section_contacts
.section_contacts {
    img {
        width: 20px;
    }
    @media (min-width: $screen_sm) and (max-width: $screen_md_max) {
        padding-top: 50px;
    }
    @media (max-width: $screen_xs_max) {
        padding-top: 0;
    }
}

// === / section_contacts
// --- section_footer
.section_footer {
    border-top: 1px solid #edeef0;
    padding-bottom: 50px;
    padding-top: 50px;
    .messengers {
        img {
            width: 20px;
        }
    }
}

// === / section_footer