@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Oswald:wght@200;300;400;500;600&display=swap");
* {
  box-sizing: border-box; }

.body {
  font-family: 'Montserrat', sans-serif;
  color: #4c4d4f;
  font-size: 14px;
  line-height: 29px;
  font-weight: 400; }
  .body a {
    color: #222;
    text-decoration: none; }
    .body a:hover {
      color: #2D2A40;
      text-decoration: none; }
  .body ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .body .section_title {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    line-height: 48px;
    font-weight: 300;
    color: #222;
    letter-spacing: .3em;
    text-transform: uppercase; }
  .body .container-fullwidth {
    max-width: 1620px; }
  .body .text-wide {
    letter-spacing: .3em; }
  @media (max-width: 575px) {
    .body {
      font-size: 12px;
      line-height: 20px; }
      .body .section_title {
        font-size: 24px;
        line-height: 30px; } }

section {
  padding-top: 100px;
  overflow-x: hidden; }
  @media (max-width: 575px) {
    section {
      padding-top: 50px; } }

.section_header .logo {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  letter-spacing: .1em;
  color: #222; }

.section_header .menu .nav_link {
  position: relative;
  display: inline-block;
  color: #222;
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  letter-spacing: .3em; }

@media (min-width: 992px) {
  .section_header .logo {
    font-size: 36px; }
  .section_header .menu .nav_link {
    padding: 52px 2px 48px 8px; }
    .section_header .menu .nav_link::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 0%;
      margin-left: 50%;
      height: 0px;
      background: #222;
      transition: .3s; }
    .section_header .menu .nav_link:hover::before {
      margin-left: 0;
      height: 3px;
      width: 100%; }
  .section_header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    background: #fff;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1); }
    .section_header.sticky .nav_link {
      padding: 22px 2px 22px 8px; } }

@media (max-width: 991px) {
  .section_header {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 93vh; }
    .section_header .logo {
      position: absolute;
      top: 50px;
      left: 30px;
      font-size: 24px; }
    .section_header .menu {
      position: absolute;
      margin-top: 30%;
      z-index: 100;
      width: 260px;
      margin-left: -130px;
      left: 50%;
      text-align: center; }
      .section_header .menu .nav_link {
        font-size: 16px;
        line-height: 45px; }
      .section_header .menu .menu_item {
        transform: translateY(-300px);
        opacity: 0;
        transition-timing-function: ease-in-out; }
      .section_header .menu .item-1 {
        transition-duration: 700ms; }
      .section_header .menu .item-2 {
        transition-duration: 650ms; }
      .section_header .menu .item-3 {
        transition-duration: 600ms; }
      .section_header .menu .item-4 {
        transition-duration: 550ms; }
      .section_header .menu .item-5 {
        transition-duration: 500ms; }
    .section_header.active .menu_item {
      transform: translateY(0);
      opacity: 1; } }

.section_banner {
  padding: 0; }
  .section_banner .carousel-item {
    position: relative;
    max-height: 730px; }
    .section_banner .carousel-item img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .section_banner .carousel-control-next-icon {
    background: url(../img/svg/next.svg) no-repeat 100% 0; }
  .section_banner .carousel-control-prev-icon {
    background: url(../img/svg/prev.svg) no-repeat 0 0; }
  .section_banner .carousel-control-next-icon,
  .section_banner .carousel-control-prev-icon {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 40px; }
  .section_banner .carousel-content {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #222;
    text-align: center; }
  .section_banner .slide_subtitle {
    font-size: 24px;
    line-height: 29px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #222;
    font-style: normal;
    letter-spacing: .5em; }
  .section_banner .slide_title {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #222;
    font-style: normal;
    letter-spacing: .3em; }
  @media (min-width: 1200px) {
    .section_banner .carousel-content {
      top: 120px; }
    .section_banner .slide_title {
      font-size: 48px;
      line-height: 64px; } }
  @media (max-width: 1199px) {
    .section_banner .carousel-content {
      top: 15px; }
    .section_banner .slide_title {
      font-size: 36px;
      line-height: 48px; } }
  @media (max-width: 991px) {
    .section_banner .banner_wrap {
      background: url(../img/banner_mob.jpg) no-repeat 50% 100%;
      background-size: cover;
      min-height: 93vh; }
    .section_banner #menu_button {
      position: absolute;
      bottom: 50%;
      height: 40px;
      width: 60px;
      margin-left: -30px;
      left: 50%;
      z-index: 150;
      animation: bounce 3s ease-in-out infinite;
      transition: .6s ease-in-out;
      cursor: pointer; }
    @keyframes bounce {
      0% {
        transform: translateY(0px); }
      50% {
        transform: translateY(15px); }
      100% {
        transform: translateY(0px); } }
      .section_banner #menu_button .button_item {
        position: absolute;
        display: block;
        border-radius: 3px;
        height: 1px;
        width: 100%;
        background: #222;
        transition: .3s; }
      .section_banner #menu_button .button_item_half {
        width: 30.2px; }
      .section_banner #menu_button .b_left-side {
        left: 0px; }
      .section_banner #menu_button .b_right-side {
        right: 0px; }
      .section_banner #menu_button .b_top {
        top: 10px; }
      .section_banner #menu_button .b_mid {
        top: 22px; }
      .section_banner #menu_button .b_bot {
        top: 34px; }
      .section_banner #menu_button .button_text {
        position: absolute;
        width: 100%;
        top: 50px;
        font-size: 16px;
        transition: .6s ease-in-out; }
    .section_banner.active #menu_button {
      bottom: 30%; }
      .section_banner.active #menu_button .button_item_half {
        width: 17px; }
      .section_banner.active #menu_button .b_left-side {
        left: 14.7px;
        transform: rotate(-35deg); }
      .section_banner.active #menu_button .b_right-side {
        right: 14.7px;
        transform: rotate(35deg); }
      .section_banner.active #menu_button .b_top {
        top: 0; }
      .section_banner.active #menu_button .b_bot {
        top: 44px; }
      .section_banner.active #menu_button .button_text {
        transform: translateY(-200px);
        opacity: 0;
        visibility: hidden; } }

.section_about .about_wrap .image_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.section_about .section_title {
  letter-spacing: .1em; }

.section_about .right_num {
  position: relative; }
  .section_about .right_num::before {
    content: '';
    border-left: 1px solid #e5e5e5;
    position: absolute;
    left: 0;
    top: 20%;
    bottom: 20%; }

@media (min-width: 576px) {
  .section_services .section_title {
    margin-bottom: 70px; }
  .section_services .serv_item__icon img {
    width: 60px;
    height: 84px; } }

@media (max-width: 575px) {
  .section_services .section_title {
    margin-bottom: 50px; }
  .section_services .serv_item__icon img {
    width: 50px;
    height: 60px; } }

.section_achievements .achievements_wrap {
  position: relative;
  background: url(../img/achievements.jpg) no-repeat 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  min-height: 570px;
  color: #fff;
  text-align: center; }
  .section_achievements .achievements_wrap .achiev_item {
    z-index: 10; }
  .section_achievements .achievements_wrap .section_title {
    color: #fff;
    letter-spacing: .1em; }

@media (min-width: 576px) {
  .section_achievements .achiev_icon img {
    width: 64px; } }

@media (max-width: 991px) {
  .section_achievements .achiev_subtitle {
    font-size: 10px; } }

@media (max-width: 575px) {
  .section_achievements {
    padding-top: 0; }
    .section_achievements .achievements_wrap {
      position: relative;
      background: url(../img/achievements.jpg) no-repeat 33% 44%;
      background-size: cover; }
      .section_achievements .achievements_wrap .achievements_inner {
        min-height: 600px; }
    .section_achievements .achiev_icon img {
      width: 44px; } }

.section_quotes .quotes_wrap {
  position: relative;
  background: url(../img/quote.jpg) no-repeat 50% 0;
  background-size: cover;
  background-attachment: fixed; }
  .section_quotes .quotes_wrap::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000008c;
    z-index: 5; }

.section_quotes #carouselExampleControls2 {
  position: relative;
  z-index: 10; }

.section_quotes .carousel-item {
  color: #fff; }
  .section_quotes .carousel-item .quote_symbol {
    font-family: 'Oswald', sans-serif; }
  .section_quotes .carousel-item .quote_autor {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    letter-spacing: .3em; }

.section_quotes .carousel-control-next-icon {
  background: url(../img/svg/next_white.svg) no-repeat 100% 0; }

.section_quotes .carousel-control-prev-icon {
  background: url(../img/svg/prev_white.svg) no-repeat 0 0; }

.section_quotes .carousel-control-next-icon,
.section_quotes .carousel-control-prev-icon {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 40px; }

@media (min-width: 576px) {
  .section_quotes .carousel_wrap {
    padding-top: 150px;
    min-height: 610px; }
  .section_quotes .carousel-item {
    font-size: 14px; }
  .section_quotes .quote_text {
    font-size: 26px;
    line-height: 42px; }
  .section_quotes .quote_autor {
    font-size: 24px;
    line-height: 32px; }
  .section_quotes .quote_symbol {
    font-size: 200px;
    line-height: 160px; } }

@media (min-width: 576px) and (max-width: 991px) {
  .section_quotes {
    padding-top: 50px; } }

@media (max-width: 575px) {
  .section_quotes {
    padding-top: 0; }
    .section_quotes .carousel_wrap {
      padding-top: 100px;
      min-height: 400px; }
    .section_quotes .carousel-item {
      font-size: 11px; }
    .section_quotes .quote_autor {
      font-size: 14px;
      line-height: 20px; }
    .section_quotes .quote_symbol {
      font-size: 88px;
      line-height: 77px; } }

.section_feedback .form_wrap {
  min-height: 400px; }

.section_feedback textarea,
.section_feedback input {
  display: block;
  height: 50px;
  border: 0 solid #edeef0;
  border-bottom: 1px solid #edeef0;
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 29px;
  padding: 4.5px 0;
  outline: none;
  margin-bottom: 43px;
  letter-spacing: .3em;
  transition: .5s; }
  .section_feedback textarea:focus,
  .section_feedback input:focus {
    border-color: #512da8; }

.section_feedback textarea {
  overflow-wrap: break-word;
  height: 99px;
  resize: none; }

.section_feedback input[type=submit] {
  display: inline-block;
  background: #fff;
  text-transform: uppercase;
  color: #222;
  border: 1px solid #222;
  line-height: 29px;
  font-weight: 300;
  letter-spacing: .3em;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-right: 30px;
  transition: .3s;
  outline: none; }
  .section_feedback input[type=submit]:hover {
    background: #000;
    color: #fff; }

.section_feedback #response {
  display: none;
  color: #4caf50; }

@media (min-width: 576px) {
  .section_feedback {
    margin-bottom: 100px; }
    .section_feedback textarea,
    .section_feedback input {
      font-size: 14px; }
    .section_feedback #response {
      font-size: 28px;
      line-height: 42px; } }

@media (max-width: 575px) {
  .section_feedback {
    margin-bottom: 50px; }
    .section_feedback textarea,
    .section_feedback input {
      font-size: 10px; }
    .section_feedback #response {
      font-size: 18px;
      line-height: 30px; } }

.section_contacts img {
  width: 20px; }

@media (min-width: 576px) and (max-width: 991px) {
  .section_contacts {
    padding-top: 50px; } }

@media (max-width: 575px) {
  .section_contacts {
    padding-top: 0; } }

.section_footer {
  border-top: 1px solid #edeef0;
  padding-bottom: 50px;
  padding-top: 50px; }
  .section_footer .messengers img {
    width: 20px; }
